#main{
    background-image: @mainBgLinearGradient  !important;
    background-color: @mainBgColor  !important;
}

#main .main-body{
    background-color: @mainBodyBgColor  !important; 
    background-image:@mainBodyBgImage  !important;
}
#main .main-body .top .title{
    color: @mainBodyColor  !important;
}
#main .main-body .info-box .title .s1,#main .main-body .info-box .info-box-ul-wrap .ul li .s2{
color: @fff333  !important;
}
#main .main-body .echarts-wrap{
    background-image:@mainBodyEchartsWrapBgImage  !important;
}
#main .main-body .info-box{
    background-color:@mainBodyInfoBoxBg  !important;
    color:@mainBodyInfoBoxKeyColor  !important;
    border-color:@mainBodyInfoBoxBorderColor  !important;
}
#main .main-body .info-box .title{
    border-bottom-color: @mainBodyInfoBoxTitleBorderBottomColor  !important;
    background-color: @mainBodyInfoBoxTitleBg  !important;
}
#main .main-body .top .select-wrap .select{
    background-color: @mainBodyTopSelectWrapSelectBg  !important;
    color: @mainBodyTopSelectWrapSelectColor  !important;
}
#main .keshihua-main .search-wrap .input,#main .keshihua-main .search-wrap .select,#main .keshihua-main .select-con .icon{
    color:@mainKeshihuaMainSearchWrapInputColor  !important;
    background-color: @mainKeshihuaMainSearchWrapInputBg  !important;
}
#main .keshihua-main .search-wrap .input,#main .keshihua-main .search-wrap .select{
    border-color: @mainKeshihuaMainSearchWrapInputBorderColor  !important;
}
#main .main-body .top .select-wrap i{
    background-color: @mainBodyTopSelectWrapIBg  !important;
}
#main .keshihua-main .search-wrap .s1{
    color:@mainKeshihuaMainSearchWrapS1  !important;
}

.ui-page-sort .right-tool .span-setting,.ui-page-sort .right-tool .span-number,.ui-page-sort .right-tool .span-number a,.ui-page-sort .right-tool .span-tool a{
    color:@uipagesortColor  !important;
}
.ui-page-sort .input-text,
.ui-page-sort .select-text{
 background-color:@uipageSortInputTextBg  !important;
 color: @mainBodyTopSelectWrapSelectColor  !important; 
 border-width: 1px  !important;
 border-style: solid  !important;
 border-color:@uipageSortInputTextBorderColor  !important;
}
#main .main-body .info-box .title .s2{
    color: @mainBodyInfoBoxTitleS2  !important;
}
#main .main-body .info-box .info-box-ul-wrap .ul li .s1 i{
    background-color:@mainBodyInfoBoxUlWrapLiS1I  !important;
}
#main .main-body .info-box .title .icon{
    background-image:@mainBodyInfoBoxTitleIconBgImage  !important;
    background-color:@mainBodyInfoBoxTitleIconBg  !important;
}
#main .keshihua-main .search-wrap .time-wrap .icon{
    background-image:@mainKeshihuaMainSearchWrapTimewrapIcon  !important;
}
.keshihua-table tbody tr:nth-child(odd){
    background-color:@keshihuaTableTbodyTrOddBg  !important;
}
.keshihua-table tbody tr:nth-child(even){
    background-color:@keshihuaTableTbodyTrEvenBg  !important;
}
.keshihua-table tbody tr.sonTr{
    background-color:@keshihuatabletrsonTr  !important;
}
.keshihua-table td{
    color: @keshihuaTableTbodyTdColor  !important;
    border-color:@keshihuaTableBorderColor  !important;
}

.keshihua-table thead tr{
    background-image:@keshihuaTableTheadTrImage  !important;
    border-color:@keshihuaTableBorderColor  !important;
}
.keshihua-table th{
    color: @keshihuaTableThColor  !important;
}
.keshihua-table td.finished{
    color: @keshihuaTableTdFinishedColor  !important;
}
.keshihua-table td.notFinished{
    color: @keshihuaTableTdNotFinishedColor !important;
}
#main .keshihua-main .search-wrap .search-btn{
    background-image:@mainKeshihuamainsearchwrapsearchbtnBgImage  !important;
}
#main .keshihua-table tr td.handle a.look,#main .keshihua-table tr td.handle a.pretreatment{
    border-style: solid  !important;
    border-width: 1px  !important;
    border-radius: 10px  !important;
    padding: 4px 10px  !important;
    margin-right: 10px  !important;
}
#main .keshihua-table tr td.handle a.look{
    color: @keshihuaTableHandleLook  !important;
    border-color:@keshihuaTableHandleLook  !important;
}

#main .shujuji-table tr td.handle a.pretreatment{
    color: @keshihuaTableHandlePretreatment  !important;
    border-color:@keshihuaTableHandlePretreatment  !important;
}

#main .keshihua-table tr td.handle a.del{
    color: @keshihuaTableHandleDel  !important;
}

.keshihua-table tr td input[type='checkbox']+span, .keshihua-table th input[type='checkbox']+span,
.keshihua-table tr td input:checked+span,.keshihua-table th input:checked+span
{
    background-image:@keshihuatableChecked  !important;
}

// #tableContent .bgc-change2{
//     border: 0  !important;
// }

// #tableContent .bgc-change{
//     border-left-style: solid  !important;
//     border-left-width: 1px  !important;
//     border-left-color:@keshihuaTableBorderColor  !important;
//     border-right-style: solid  !important;
//     border-right-width: 1px  !important;
//     border-right-color:@keshihuaTableBorderColor  !important;
// }
// #tableContent .bgc-change3{
// background-color: @keshihuaTableTbodyTrOddBg  !important;
// }
#main .keshihua-main .search-wrap .line{
    color: @fff333  !important;
}


#main .shujuji-main #tableContent .pull-icon{
    background-image: @backgroundBgOther  !important;
}

#main .shujuji-main .shujuji-table td.notStart {
    color:@shujujiTableNotStart !important; //#00c1a9;
}

#main .shujuji-main .shujuji-table td.finished {
    color:@shujujiTableFinished !important;// #b1c8fe;
}

#main .shujuji-main .shujuji-table td.unfininshed {
    color:@shujujiTableUninished !important;// #8875dd;
}

#main .shujuji-main .shujuji-table td.pause {
    color:@shujujiTablePause !important; //#17a6d5;
}
#main .shujuji-main .shujuji-table .del,#main .shujuji-main .shujuji-table .icon{
    background-image:@backgroundBgOther !important;
}
.swiper-wrap .swiper-rect {
    background-image: url(../images/dark/line.png);
    background-size: 100% 100%;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
}