/* element ui */

.el-dialog__title {
    height: 60px;
    color: #c9cbd7;
    font-size: 20px;
    padding: 13px 0 20px 0;
}

.el-form-item__label {
    display: block;
    float: none;
    text-align: left;
    font-size: 16px;
    color: #b1c8fe;
    margin-bottom: 15px;
}

.el-form-item__content {
    margin-left: 0!important;
}

.el-dialog {
    background: #262B69;
}

.el-dialog__header {
    background: rgba(59, 73, 140, 0.6);
    color: #c9cbd7;
    font-size: 20px;
}

.el-input__inner {
    height: 36px;
    line-height: 36px;
    border-width: 1px;
    border-style: solid;
    border-color: #505ba1;
    border-radius: 4px;
    background-color: #243376;
    color: #fff;
    outline: none;
}

.el-textarea__inner {
    min-height: 200px!important;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #505ba1;
    border-radius: 4px;
    background-color: #243376;
    margin-bottom: 18px;
    color: #fff;
    outline: none;
}

.el-button {
    width: 192px;
    line-height: 46px;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

.el-button--primary {
    color: #fff;
    background-color: #369bf0;
    border: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.el-button+.el-button {
    color: #a9b2dd;
    background-color: #3e498b;
    border: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.el-message-box {
    background-image: linear-gradient(45deg, #33407a, #232761);
    border: none;
}

.el-message-box__title {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 12px 0 56px;
}

.el-message-box__message p {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.el-button--primary {
    color: #fff;
    background-color: #369bf0;
    border: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.el-message-box__btns {
    margin: 20px auto;
    width: 192px;
    padding: 0;
}

.el-message-box__headerbtn .el-message-box__close {
    color: #fff;
}