#main {
    padding: 90px 114px 80px;
    min-height: 100%;
}

#main .main-body {
    padding: 38px 0px;
    height: 100%;
    /* background-image: url(../images/white/white-icon-all.png); */
    background-position: 0 -282px;
    background-repeat: no-repeat;
    position: relative;
}

#main .main-body .top {
    margin-bottom: 14px;
    padding: 0 45px;
}

#main .main-body .top .title {
    font-size: 16px;
    line-height: 20px;
}

#main .main-body .top .title .i1 {
    height: 18px;
    width: 5px;
    border-radius: 4px;
    background-color: #36a6f2;
    margin-right: 8px;
}

#main .main-body .top .btn-wrap a {
    padding: 7px 12px;
    color: #fff;
    background-color: #000;
    border-radius: 4px;
}

#main .main-body .top .btn-wrap .a1 {
    background-image: -webkit-linear-gradient(0deg, #0bd5b9, #08b5c0);
    background-image: linear-gradient(to right, #0bd5b9, #08b5c0);
}

#main .main-body .top .btn-wrap .a2 {
    background-image: -webkit-linear-gradient(0deg, #36a7f2, #3388f0);
    background-image: linear-gradient(to right, #36a7f2, #3388f0);
}

#main .main-body .top .btn-wrap .a2 .icon {
    background-image: url(../images/public/icon-all.png);
    background-position: 0 -43px;
    width: 16px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

#main .main-body .top .select-con {
    position: relative;
}

#main .main-body .top .select-wrap i {
    background-image: url(../images/public/icon-all.png);
    background-position: 0 0px;
    width: 16px;
    height: 12px;
    position: absolute;
    right: 5px;
    top: 11px;
}

#main .main-body .top .select-wrap .key {
    color: #838fa9;
    font-size: 14px;
    margin-top: 4px;
    margin-right: 10px;
}

#main .main-body .top .select-wrap .select {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 14px;
    outline: none;
    width: 186px;
}

#main .main-body .top .select-wrap .btn {
    background-image: -webkit-linear-gradient(0deg, #0bd5b9, #08b5c0);
    background-image: linear-gradient(to right, #0bd5b9, #08b5c0);
    color: #fff;
    font-size: 13px;
    padding: 6px 15px;
    border-radius: 15px;
    margin-left: 10px;
}

#main .main-body .info-box {
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 22px;
    margin-left: 45px;
    margin-right: 45px;
}

#main .main-body .info-box .title {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#main .main-body .info-box .title .icon {
    background-position: 4px -99px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

#main .main-body .info-box .title .s1 {
    font-size: 14px;
}

#main .main-body .info-box .title .s2 {
    font-size: 18px;
}

#main .main-body .info-box .info-box-ul-wrap {
    padding: 0 30px;
}

#main .main-body .info-box .info-box-ul-wrap .ul {
    width: 33.33%;
}

#main .main-body .info-box .info-box-ul-wrap .ul li {
    margin-bottom: 12px;
    line-height: 22px;
}

#main .main-body .info-box .info-box-ul-wrap .ul li .s1 {
    overflow: hidden;
}

#main .main-body .info-box .info-box-ul-wrap .ul li .s1 i {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 7px;
}

#main .main-body .info-box .info-box-ul-wrap .ul li .s1 b {
    font-weight: normal;
    margin-left: 10px;
    float: left;
}

#main .main-body .info-box .info-box-ul-wrap .ul1 li .s1 b {
    min-width: 124px;
}

#main .main-body .info-box .info-box-ul-wrap .ul2 li .s1 b {
    min-width: 80px;
}

#main .main-body .info-box .info-box-ul-wrap .ul3 li .s1 b {
    min-width: 130px;
}

#main .main-body .echarts-wrap {
    padding: 0 45px;
    background-position: right bottom;
    background-repeat: no-repeat;
}

#main .main-body .echarts-line {
    min-height: 240px;
}

#main .keshihua-main .search-wrap {
    margin: 0 auto;
    width: 1080px;
}

#main .keshihua-main .search-wrap .s1 {
    font-size: 14px;
    margin-top: 4px;
}

#main .keshihua-main .search-wrap .time-wrap {
    position: relative;
}

#main .keshihua-main .search-wrap .input {
    border-width: 1px;
    border-style: solid;
    border-radius: 14px;
    outline: none;
    width: 200px;
    padding: 4px 4px 4px 10px;
    text-indent: 20px;
    font-size: 14px;
}

#main .keshihua-main .search-wrap .input1 {
    margin-right: 20px;
    text-indent: 10px;
}

#main .keshihua-main .search-wrap .time-wrap .icon {
    position: absolute;
    left: 12px;
    top: 7px;
    width: 12px;
    height: 12px;
    /* background-image: url(../images/white/white-icon-all.png); */
    background-position: 0 0;
    background-repeat: no-repeat;
    /* background-color: #fff; */
}

#main .keshihua-main .search-wrap .select {
    padding: 4px;
    outline: none;
    width: 100px;
    border-radius: 14px;
    height: 30px;
    text-indent: 8px;
}

#main .keshihua-main .select-con {
    position: relative;
    margin-right: 20px;
}

#main .keshihua-main .select-con .icon {
    background-image: url(../images/public/icon-all.png);
    background-position: 0 0px;
    width: 16px;
    height: 12px;
    position: absolute;
    right: 5px;
    top: 11px;
    background-color: #fff;
}

#main .keshihua-main .search-wrap .line {
    line-height: 26px;
    margin: 0 10px;
}

#main .keshihua-main .search-wrap .search-btn {
    /* background-image: -webkit-linear-gradient(0deg, #36a5f2, #338af0);
    background-image: linear-gradient(0deg, #36a5f2, #338af0); */
    color: #fff;
    font-size: 13px;
    padding: 6px 15px;
    border-radius: 15px;
    margin-left: 10px;
    margin: 9px;
    line-height: 27px;
    height: 27px;
}

#main .keshihua-main .search-wrap .search-btn span {
    font-size: 12px;
}

#main .keshihua-main .search-wrap .search-btn span.icon-sousuo {
    margin-left: 4px;
}

#main .keshihua-main .search-wrap .search-btn i {
    background-image: url(../images/public/icon-all.png);
    background-position: 5px -96px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.keshihua-table {
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
}

.keshihua-table thead tr {
    /* background-image: -webkit-linear-gradient(0deg, #f6f7f9, #fefeff);
    background-image: linear-gradient(0deg, #f6f7f9, #fefeff); */
    border-style: solid;
    border-width: 1px;
    /* border-color: #d6d9e3; */
}

.keshihua-table th {
    /* color: #666666; */
    font-size: 14px;
}

.keshihua-table th,
.keshihua-table td {
    text-align: center;
    vertical-align: middle;
    padding: 13px 0;
}

.keshihua-table td .dblclick {
    cursor: pointer;
}

.keshihua-table td a {
    color: #b1c8fe !important;
}

.keshihua-table td {
    border-style: solid;
    border-width: 1px;
    /* border-color: #d6d9e3; */
    /* color: #333; */
    font-size: 13px;
}

.keshihua-table td.status {
    font-size: 14px;
}

.keshihua-table td.finished {
    /* color: #3f6dcd; */
}

.keshihua-table td.notFinished {
    color: #f09300;
}

.keshihua-table td.handle a {
    margin-right: 12px;
}


/* .keshihua-table tbody tr:nth-child(2n) {
    background-color: #f8f9fb;
}

.keshihua-table tbody tr:nth-child(2n+1) {
    background-color: #fff;
} */

.keshihua-table tr td,
.keshihua-table th {
    position: relative;
}

.keshihua-table tr td input[type='checkbox'],
.keshihua-table th input[type='checkbox'] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.keshihua-table tr td input[type='checkbox']+span,
.keshihua-table tr td input:checked+span,
.keshihua-table tr th input[type='checkbox']+span {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.keshihua-table tr td input[type='checkbox']+span,
.keshihua-table th input[type='checkbox']+span {
    /* background-image: url(../images/white/white-icon-all.png); */
    background-position: 0 -32px;
}

.keshihua-table tr td input:checked+span,
.keshihua-table th input:checked+span {
    /* background-image: url(../images/white/white-icon-all.png); */
    background-position: 0 -68px;
}

.keshihua-table tr td:nth-child(1) {
    width: 200px;
}

.keshihua-table tr td:last-child {
    width: 600px;
}


/* ////page */

.ui-page-sort {
    clear: both;
    height: 26px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 20px;
}

.ui-page-sort .left-tool {
    float: left;
}

.ui-page-sort .right-tool {
    float: right;
}

.ui-page-sort .span-tool {
    padding: 0 5px;
    border-right: 0;
}

.ui-page-sort .page-a {
    color: #333333;
    margin: 0 3px;
}

.ui-page-sort .input-text,
.ui-page-sort .select-text {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border: 0;
    text-align: center;
}

.breadpage span a {
    font-size: 12px;
}

.breadpage .light_bread a {
    color: #05d1e7;
}

.breadpage .dark_bread,
.breadpage .dark_bread a {
    color: #838fa9;
}

#main .keshihua-main .search-wrap .chooseType {
    display: inline-block;
    color: #fff;
    margin-left: 30px;
    font-size: 14px;
    position: relative;
}

#main .shujuji-main .search-wrap .search-btn {
    color: #fff;
    font-size: 13px;
    padding: 0px 15px;
    border-radius: 15px;
    margin-left: 10px;
    margin: 9px;
    line-height: 27px;
    height: 27px;
    float: left;
    margin-top: 0;
}

#main .keshihua-main .search-wrap .chooseType>p {
    position: relative;
    font-size: 13px;
    border-radius: 12px;
    line-height: 27px;
    height: 27px;
    text-indent: 15px;
    padding-right: 40px;
    background-image: -webkit-linear-gradient(0deg, #36a7f2, #3388f0);
    background-image: linear-gradient(to right, #36a7f2, #3388f0);
    cursor: pointer;
}

#main .keshihua-main .search-wrap .chooseType>p i {
    width: 10px;
    height: 6px;
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background-image: url(../images/dark/dark-icon-other.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#main .keshihua-main .search-wrap .chooseType>div {
    /* display: none; */
    position: absolute;
    z-index: 99;
    left: 0;
    top: 40px;
    padding: 4px 10px;
    border-radius: 6px;
    background-color: rgba(49, 59, 115, 0.9);
    width: 160px;
    box-shadow: 0 0 10px #000;
}

#main .keshihua-main .search-wrap .chooseType>div li {
    border-bottom: 1px solid #7889dd;
    padding: 10px 0;
    text-indent: 10px;
    color: #b1c8fe;
    cursor: pointer;
}

#main .keshihua-main .search-wrap .chooseType>div li:hover {
    color: #fff;
}

#main .keshihua-main .search-wrap .chooseType>div li:last-child {
    border-bottom: 0;
}

#main .shujuji-main #tableContent .pull-icon {
    width: 16px;
    height: 16px;
    display: block;
    /* background-image: url(../images/dark/dark-icon-other.png); */
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
}

#main .shujuji-main #tableContent .pull-icon.down {
    background-position: 0 -195px;
}

#main .shujuji-main #tableContent .pull-icon.up {
    background-position: 0 -169px;
}

#main .shujuji-main .shujuji-table .del {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url(../images/dark/dark-icon-other.png);
    background-repeat: no-repeat;
    background-position: 0 -136px;
    vertical-align: -4px;
}

#main .shujuji-main .shujuji-table .icon {
    background-image: url(../images/dark/dark-icon-other.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 2px;
}

#main .shujuji-main .shujuji-table .icon1 {
    background-position: 0 -53px;
}

#main .shujuji-main .shujuji-table .icon2 {
    background-position: 0 -82px;
}

#main .shujuji-main .shujuji-table .icon3 {
    background-position: 0 -27px;
}

#main .shujuji-main .shujuji-table .icon4 {
    background-position: 0 -109px;
}

#main .shujuji-main .shujuji-table .icon5 {
    background-position: 0 -136px;
}

.breadpage {
    margin-bottom: 15px;
}

.breadpage span a {
    font-size: 12px;
}

.breadpage .light_bread a {
    color: #05d1e7;
}

.breadpage .dark_bread,
.breadpage .dark_bread a {
    color: #838fa9;
}

#main .shujuji-main .shujuji-table td.notStart {
    color: #00c1a9;
}

#main .shujuji-main .shujuji-table td.finished {
    color: #b1c8fe;
}

#main .shujuji-main .shujuji-table td.unfininshed {
    color: #8875dd;
}

#main .shujuji-main .shujuji-table td.pause {
    color: #17a6d5;
}

.swiper-wrap .t {
    font-size: 14px;
    color: #fff;
    margin-top: 4px;
    margin-right: 40px;
    cursor: pointer;
}

.swiper-wrap .t2 {
    font-size: 14px;
    color: #fff;
    margin-top: 4px;
    margin-right: 40px;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    border-radius: 12px;
    line-height: 27px;
    height: 27px;
    padding: 0px 15px;
    background-image: -webkit-gradient(linear, left top, right top, from(#36a7f2), to(#3388f0));
    background-image: linear-gradient(to right, #36a7f2, #3388f0);
}

.swiper-wrap .t i {
    width: 8px;
    height: 8px;
    background-color: #08afc2;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-right: 8px;
}

#main .swiper-wrap .search-wrap {
    width: auto;
}

.swiperItem {
    /* width: 210px; */
}

.swiper-wrap-new .echarts {
    background-color: #202453;
    height: 156px;
    width: auto !important;
}

.swiper-wrap-new .pageNumber span {
    width: 33.333%;
    float: left;
    height: 4px;
    background-color: #374286;
}

.swiper-wrap-new .pageNumber span.on {
    background-color: #4a59b9;
}

.swiper-wrap-new .swiper-ul {
    padding: 0 12px;
    margin: 0 auto;
}

.swiper-wrap-new .swiper-ul ul {
    border: 1px solid #505ba1;
    margin: 0 auto;
    background-color: #262c5f;
}

.swiper-wrap-new .swiper-ul li {
    cursor: pointer;
}

.swiper-wrap-new .swiper-ul>ul>li {
    border-bottom: 1px dashed #3a4279;
    color: #b1c8fe;
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
}

.swiper-wrap-new .swiper-ul>ul>li:last-child {
    border-bottom: none;
}

.swiper-wrap-new .swiper-ul>ul>li .icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(../images/dark/dark-icon-other.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 0 2px;
}

.swiper-wrap-new .swiper-ul>ul>li .icon.down {
    background-position: 0 2px;
}

.swiper-wrap-new .swiper-ul>ul>li .icon.up {
    background-position: 0 -15px;
}

.swiper-wrap-new .swiper-ul>ul>li.p {
    position: relative;
}

.swiper-wrap-new .swiper-ul>ul>li ul.s {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: #323c78;
    box-shadow: 0 0 10px #363232;
    border-radius: 5px;
}

.swiper-wrap-new .swiper-slide-active .swiper-ul>ul>li ul.s {
    width: 100px;
}

.swiper-wrap-new .swiper-ul>ul>li ul.s li {
    padding: 7px 12px;
    border-bottom: 1px dashed #707384;
    color: #00cce4;
    text-align: center;
    font-size: 14px;
}

.swiper-wrap-new .swiper-ul>ul>li ul.s li:last-child {
    border-bottom: 0;
}

.swiperList {
    margin-top: 20px;
    position: relative;
}

.swiperList .ul-zd {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 170px;
    color: #fff;
    font-size: 14px;
    background-color: #1c2146;
}

.swiperList .ul-zd li {
    text-align: center;
    font-size: 14px;
    padding: 15px 0 14px;
}

.swiper-container {
    width: 100%;
}

.swiper-container .swiper-slide-active .swiper-ul {
    width: 72%;
    float: right;
}

.swiper-echarts.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0;
    display: flex;
}

.swiper-echarts.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    flex: 1;
    margin: 0;
    border: 0;
    border-radius: 0;
    height: 4px;
    background-color: #374286;
    opacity: 1;
}

.swiper-echarts.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:focus {
    outline: 0;
}

.swiper-echarts.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: #4a59b9;
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #4a59b9;
    background: #4a59b9;
}

#main .main-body-assess {
    background-image: none !important;
}