.alert-box {
    display: none;
    background-image: linear-gradient(45deg, #33407a, #232761);
    background-image: -webkit-linear-gradient(45deg, #33407a, #232761);
    position: relative;
}

.alert-box .btn {
    border: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.alert-box .title {
    height: 60px;
    color: #c9cbd7;
    font-size: 20px;
    padding: 13px;
    position: relative;
}

.alert-box .title .iconfont {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 40px;
    color: #fff;
    z-index: 9;
    cursor: pointer;
}

#alert-box-setOption .title,
#alert-box-echarts .title,
#alert-box-addNewObject .title,
#alert-box-reviseNewObject .title,
#alert-box-shujuyuchuli .title,
#alert-box-shujujiTab .title,
#alert-box-xunliangmoxing .title,
#alert-box-tezhenggongcheng .title,
#alert-box-addNewTask .title {
    background: rgba(59, 73, 140, 0.6);
}

#alert-box-setOption .content {
    height: 302px;
    padding: 25px 58px;
}

#alert-box-setOption .content p,
#alert-box-addNewObject .content p,
#alert-box-reviseNewObject .content p,
#alert-box-addNewTask .content p {
    font-size: 16px;
    color: #b1c8fe;
    margin-bottom: 15px;
}

#alert-box-setOption .content input,
#alert-box-addNewObject .content input,
#alert-box-reviseNewObject .content input,
#alert-box-addNewTask .content input {
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-width: 1px;
    border-style: solid;
    border-color: #505ba1;
    border-radius: 4px;
    background-color: #243376;
    margin-bottom: 18px;
    text-indent: 15px;
    color: #fff;
}

#alert-box-setOption .btn-wrap {
    text-align: center;
    margin-top: 24px;
}

#alert-box-setOption .btn-wrap .btnksh {
    padding: 10px 18px;
    color: #fff;
    font-size: 16px;
    background-image: linear-gradient(0deg, #359df1, #4a73e7);
    background-image: -webkit-linear-gradient(0deg, #359df1, #4a73e7);
}

#alert-box-del .content,
#alert-box-del-fb .content {
    padding: 0 62px 45px;
}

#alert-box-del .content-title,
#alert-box-del-fb .content-title {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 12px 0 56px;
}

#alert-box-del .btn-wrap,
#alert-box-del-fb .btn-wrap {
    padding: 0 15px;
}

#alert-box-del .btn-wrap .btn,
#alert-box-del-fb .btn-wrap .btn {
    font-size: 16px;
    padding: 12px 40px;
}

#alert-box-del .btn-wrap .cancelBtn,
#alert-box-del-fb .btn-wrap .cancelBtn {
    color: #a9b2dd;
    background-color: #3e498b;
}

#alert-box-del .btn-wrap .okBtn,
#alert-box-del-fb .btn-wrap .okBtn {
    color: #fff;
    background-color: #369bf0;
}

#alert-box-echarts {
    height: 448px;
    overflow: hidden;
}

#alert-box-echarts .echarts {
    height: 327px;
}

#alert-box-echarts .btn-download {
    margin-bottom: 20px;
    padding: 10px 26px;
    color: #fff;
    font-size: 16px;
    background-image: linear-gradient(0deg, #359df1, #4a73e7);
    background-image: -webkit-linear-gradient(0deg, #359df1, #4a73e7);
}

.bx-wrapper .bx-viewport {
    background: none;
    margin: 0;
    padding: 0;
}

.bx-wrapper .bx-viewport {
    border: 0;
    left: 0;
}

.bx-wrapper .bx-controls-direction a {
    width: 30px;
    height: 50px;
}

.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
    width: 30px;
    height: 50px;
    background-image: none;
    background-color: rgba(78, 78, 255, 0.5);
}

.bx-wrapper .bx-controls-direction a {
    text-indent: 0;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

#alert-box-addNewObject .content,
#alert-box-reviseNewObject .content,
#alert-box-addNewTask .content {
    padding: 25px 58px;
}

#alert-box-addNewObject .content textarea,
#alert-box-reviseNewObject .content textarea,
#alert-box-addNewTask .content textarea {
    width: 100%;
    padding: 15px;
    height: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: #505ba1;
    border-radius: 4px;
    background-color: #243376;
    margin-bottom: 18px;
    color: #fff;
    outline: none;
}

#alert-box-addNewObject .btn-wrap,
#alert-box-reviseNewObject .btn-wrap,
#alert-box-addNewTask .btn-wrap {
    padding: 0 15px;
}

#alert-box-addNewTask .btn-wrap {
    margin: 20px 0;
}

#alert-box-addNewObject .btn-wrap .btn,
#alert-box-reviseNewObject .btn-wrap .btn,
#alert-box-addNewTask .btn-wrap .btn {
    font-size: 16px;
    padding: 12px 80px;
}

#alert-box-addNewObject .btn-wrap .addBtn,
#alert-box-reviseNewObject .btn-wrap .addBtn,
#alert-box-addNewTask .btn-wrap .addBtn {
    color: #fff;
    background-color: #369bf0;
}

#alert-box-addNewObject .btn-wrap .backBtn,
#alert-box-reviseNewObject .btn-wrap .backBtn,
#alert-box-addNewTask .btn-wrap .backBtn {
    color: #a9b2dd;
    background-color: #3e498b;
}

#alert-box-shujuyuchuli .content,
#alert-box-shujujiTab .content,
#alert-box-xunliangmoxing .content {
    padding: 26px 67px;
}

#alert-box-addNewTask select {
    width: 100%!important;
    background-position: 410px -218px!important;
}

#alert-box-xunliangmoxing .content {
    padding: 23px 67px;
}

.layui-layer.layui-layer-page {
    background-image: linear-gradient(45deg, #33407a, #232761);
    background-image: -webkit-linear-gradient(45deg, #33407a, #232761);
}


/* #alert-box-tezhenggongcheng1,
#alert-box-tezhenggongcheng2 {
    position: relative;
}

#alert-box-tezhenggongcheng1 .title,
#alert-box-tezhenggongcheng2 .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
} */

#alert-box-tezhenggongcheng1 {
    overflow: hidden;
}

#alert-box-tezhenggongcheng1 .content-wrap {
    height: 452px;
    overflow: auto;
}

#alert-box-tezhenggongcheng1 .content {
    padding: 30px 90px 30px;
}

#alert-box-tezhenggongcheng2 .content {
    padding: 26px 60px 0px 90px;
}

#alert-box-shujuyuchuli .content-item .name {
    color: #adc5fa;
    font-size: 16px;
    margin-bottom: 18px;
}

#alert-box-shujuyuchuli .content-item1 .half-left {
    height: 160px;
    width: 300px;
    overflow: auto;
    padding: 10px;
    background-color: #2a3774;
    border: 1px solid #5567c5;
}

#alert-box-shujuyuchuli .content-item1 .w1 {
    background-color: #32407a;
    overflow: hidden;
    padding: 18px 40px;
    position: relative;
}

#alert-box-shujuyuchuli .content-item1 .w1 .pop-arrow {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/public/pop-arrow.png);
    width: 22px;
    height: 18px;
}

#alert-box-shujuyuchuli .content-item1 .choose-wrap {
    width: 206px;
    float: left;
    padding-left: 70px;
}

#alert-box-shujuyuchuli .content-item1 .half-left .choose-wrap {
    margin-bottom: 10px;
    width: 100%;
    float: none;
    padding-left: 0;
}

#alert-box-shujuyuchuli .content-item1 .choose-wrap label {
    position: relative;
}

#alert-box-shujuyuchuli .content-item1 .choose-wrap label span {
    margin-left: 7px;
    color: #adc5fa;
    font-size: 14px;
    vertical-align: middle;
}

#alert-box-shujuyuchuli .content-item1 .choose-wrap .radio {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../images/dark/dark-icon-all.png);
    background-position: -58px -32px;
    vertical-align: middle;
}

#alert-box-shujuyuchuli .content-item1 .choose-wrap input[type='radio'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    opacity: 0;
}

#alert-box-shujuyuchuli .content-item1 .choose-wrap .radioInput:checked+i {
    background-position: -58px -68px;
}

#alert-box-shujuyuchuli .content-item1 .choose-wrap .check {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../images/dark/dark-icon-all.png);
    background-position: 0 -32px;
    vertical-align: middle;
}

#alert-box-shujuyuchuli .content-item1 .choose-wrap input[type='checkbox'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    opacity: 0;
}

#alert-box-shujuyuchuli .content-item1 .choose-wrap .checkInput:checked+i {
    background-position: 0px -68px;
}

#alert-box-shujuyuchuli .content .content-item1,
#alert-box-shujuyuchuli .content .content-item2 {
    margin-bottom: 23px;
}

#alert-box-shujuyuchuli .content .content-item2 .select-wrap {
    padding-left: 67px;
}

#alert-box-shujuyuchuli .content .content-item2 .select-wrap .select-wrap-half {
    width: 50%;
}

#alert-box-shujuyuchuli .content .content-item2 .select-wrap .select-wrap-half p {
    color: #b1c8fe;
    font-size: 16px;
    margin-bottom: 16px;
}

#alert-box-shujuyuchuli .content .content-item2 .select-wrap .select-wrap-half .select {
    position: relative;
    width: 256px;
    height: 35px;
}

#alert-box-shujuyuchuli .content .content-item2 .select-wrap .select-wrap-half select {
    width: 100%;
    height: 35px;
    line-height: 35px;
    -webkit-appearance: none;
    background-color: #243376;
    border: 1px solid #505ba1;
    border-radius: 4px;
    outline: none;
    position: relative;
    background-image: url(../images/dark/dark-icon-other.png);
    background-repeat: no-repeat;
    background-position: 230px -218px;
    color: #fff;
    text-indent: 10px;
}


/* #alert-box-shujuyuchuli .content-item3 .choose-wrap {
    width: 50%;
    padding-bottom: 18px;
} */

#alert-box-shujuyuchuli .btn-wrap {
    text-align: center;
}

#alert-box-shujuyuchuli .btn-wrap button {
    outline: none;
    padding: 8px 10px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}

#alert-box-shujuyuchuli .btn-wrap button.more {
    color: #a9b2dd;
    background-color: #3e498b;
    margin-right: 14px;
}

#alert-box-shujuyuchuli .btn-wrap button.dev {
    color: #fff;
    background-color: #4975e8;
    margin-left: 14px;
}

#alert-box-shujujiTab .content .big-title {
    font-size: 16px;
    color: #fff;
}

#alert-box-shujujiTab .content .item-list {
    margin-top: 40px;
}

#alert-box-shujujiTab .content .item-list>span {
    width: 192px;
    font-size: 16px;
    color: #b1c8fe;
    text-align: right;
    line-height: 35px;
    padding-right: 15px;
}

#alert-box-shujujiTab .content .item-list>div {
    width: 380px;
}

#alert-box-shujujiTab .content .item-list>div select {
    width: 310px;
    height: 35px;
    line-height: 35px;
    -webkit-appearance: none;
    background-color: #243376;
    border: 1px solid #505ba1;
    border-radius: 4px;
    outline: none;
    position: relative;
    background-image: url(../images/dark/dark-icon-other.png);
    background-repeat: no-repeat;
    background-position: 280px -218px;
    color: #fff;
    text-indent: 10px;
}

#alert-box-shujujiTab .content .item-list>div input {
    width: 310px;
    height: 35px;
    line-height: 35px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #505ba1;
    outline: none;
    color: #fff;
    text-indent: 10px;
}

#alert-box-shujujiTab .content .item-list>div .pop {
    position: relative;
    padding-right: 10px;
}

#alert-box-shujujiTab .content .item-list>div .pop:hover .border-right {
    display: block;
}

#alert-box-shujujiTab .content .item-list>div .pop .txt {
    position: absolute;
    z-index: 99;
    left: 62px;
    min-width: 180px;
    border: 1px solid #4b6bb6;
    background-color: #232b5e;
    color: #b1c8fe;
    font-size: 12px;
    padding: 12px;
    display: none;
    line-height: 18px;
    text-align: justify;
    border-radius: 4px;
}

#alert-box-shujujiTab .content .item-list>div .wenhao {
    color: #2a326c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #505ba1;
    margin-top: 7px;
    margin-left: 7px;
    text-align: center;
    cursor: pointer;
}

#alert-box-shujujiTab .content .item-list>div .wenhao i {
    font-weight: bold;
}

#alert-box-shujujiTab .content .item-list>div .help {
    line-height: 35px;
    color: #505ba1;
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
}

#alert-box-shujujiTab .content .item-list>div .pop:hover .txt {
    display: block;
}

#alert-box-shujujiTab .content .item-list>div .pop:hover .wenhao {
    background-color: #00ffff;
}

#alert-box-shujujiTab .content .item-list>div .pop:hover .help {
    color: #fff;
}

#alert-box-shujujiTab .content .btn-save,
#alert-box-xunliangmoxing .content .btn-save,
#alert-box-tezhenggongcheng .content .btn-save {
    padding: 10px 38px;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 4px;
    margin-top: 40px;
    outline: none;
    background-image: linear-gradient(0deg, #359df1, #4a73e7);
    background-image: -webkit-linear-gradient(0deg, #359df1, #4a73e7);
}

.border-right {
    display: none;
    width: 0;
    height: 0;
    border-right: 4px solid #4b6bb6;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


/* belle新增弹框样式 */

#alert-box-uploadFiles .btn-wrap {
    padding: 0 15px;
}

#alert-box-uploadFiles .btn-wrap {
    padding: 20px 50px;
}

#alert-box-uploadFiles .btn-wrap .btn {
    font-size: 16px;
    padding: 10px 35px;
    margin-top: 20px;
}

#alert-box-uploadFiles .btn-wrap .cancelBtn {
    color: #a9b2dd;
    background-color: #3e498b;
}

#alert-box-uploadFiles .btn-wrap .okBtn {
    color: #fff;
    background-color: #369bf0;
}

#alert-box-uploadFiles .content .input {
    width: 310px;
    height: 35px;
    line-height: 35px;
    -webkit-appearance: none;
    background-color: transparent;
    margin-left: 50px;
    margin-right: 10px;
    border: 0;
    border-bottom: solid 1px #505ba1;
    color: #fff;
    float: left;
}

#alert-box-uploadFiles .alert-box-content {
    margin-top: 20px;
}

#alert-box-xunliangmoxing .content .item-list,
#alert-box-tezhenggongcheng .content .item-list {
    margin-bottom: 20px;
    position: relative;
}

#alert-box-xunliangmoxing .content .item-list>span.name {
    width: 135px;
    font-size: 14px;
    color: #b1c8fe;
    text-align: right;
    line-height: 35px;
    padding-right: 15px;
}

#alert-box-tezhenggongcheng1 .content .item-list>span.name,
#alert-box-tezhenggongcheng2 .content .item-list>span.name {
    width: 135px;
    font-size: 14px;
    color: #b1c8fe;
    text-align: right;
    line-height: 35px;
    padding-right: 15px;
}

#alert-box-tezhenggongcheng2 .content .item-list>span.name {
    width: 144px;
}

#alert-box-xunliangmoxing .content .item-list .input,
#alert-box-tezhenggongcheng .content .item-list .input {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    font-size: 14px;
    width: 244px;
    height: 30px;
    line-height: 30px;
    border: none;
    border-bottom: 1px solid #505ba1;
    outline: none;
    color: #fff;
    text-indent: 10px;
    /* margin-left: 50px; */
    /* margin-bottom: 40px; */
}

#alert-box-uploadFiles .el-upload__input {
    /* display: block; */
    display: none;
    opacity: 0;
    z-index: -1;
}

#alert-box-sjkLink {
    height: 500px;
}

#alert-box-sjkLink label {
    display: inline-block;
    width: 192px;
    font-size: 16px;
    color: #b1c8fe;
    text-align: right;
    line-height: 35px;
    padding-right: 15px;
    vertical-align: middle;
}

#alert-box-sjkLink select {
    width: 310px;
    height: 35px;
    line-height: 35px;
    -webkit-appearance: none;
    background-color: #243376;
    border: 1px solid #505ba1;
    border-radius: 4px;
    outline: none;
    position: relative;
    background-image: url('../images/dark/dark-icon-other.png');
    background-repeat: no-repeat;
    background-position: 280px -218px;
    color: #fff;
    text-indent: 10px;
    margin-left: 50px;
}

#alert-box-sjkLink input {
    width: 310px;
    height: 35px;
    line-height: 35px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #505ba1;
    outline: none;
    color: #fff;
    text-indent: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
}

#alert-box-sjkLink .content {
    width: 650px;
    margin: 25px auto;
}

#alert-box-sjkLink .btn-wrap {
    padding: 15px 0;
    width: 650px;
    margin: 0 auto;
    clear: both;
}

#alert-box-sjkLink .btn-wrap .btn {
    font-size: 16px;
    padding: 12px 40px;
    color: #fff;
    background-color: #369bf0;
    /* float: right; */
    /* margin: 20px 0; */
}

#alert-box-selectSjk {
    height: 550px;
}

#alert-box-selectSjk .content {
    width: 500px;
    margin: 0 auto;
}

#alert-box-selectSjk select,
#alert-box-addNewTask select {
    width: 300px;
    height: 35px;
    line-height: 35px;
    -webkit-appearance: none;
    background-color: #243376;
    border: 1px solid #505ba1;
    border-radius: 4px;
    outline: none;
    position: relative;
    background-image: url(../images/dark/dark-icon-other.png);
    background-repeat: no-repeat;
    background-position: 270px -218px;
    color: #fff;
    text-indent: 10px;
}

#alert-box-selectSjk label {
    display: inline-block;
    width: 150px;
    color: #b1c8fe;
    font-size: 16px;
    margin-bottom: 16px;
}

#alert-box-selectSjk .item {
    margin-bottom: 10px;
}

#alert-box-selectSjk .text {
    color: #b1c8fe;
    font-size: 16px;
    margin-bottom: 16px;
}

#alert-box-selectSjk .btn-wrap {
    padding: 20px 0;
}

#alert-box-selectSjk .btn-wrap .btn {
    font-size: 16px;
    padding: 12px 40px;
    color: #fff;
    background-color: #369bf0;
    float: right;
    margin: 10px 0 20px 0;
}

#alert-box-selectSjk table {
    width: 100%;
    text-align: center;
}

#alert-box-selectSjk table td {
    border-style: solid;
    border-width: 1px;
    /* border-color: #d6d9e3; */
    /* color: #333; */
    font-size: 13px;
    color: #b1c8fe !important;
    border-color: #505ba1 !important;
    text-align: center;
    vertical-align: middle;
    padding: 13px 0;
}

#alert-box-selectSjk table select {
    width: 150px;
    background-position: 120px -218px;
}

#alert-box-selectSjk table td:first-child {
    width: 50px;
}

#alert-box-selectSjk .tableBox {
    height: 360px;
    overflow-y: scroll;
}

#alert-box-sjjName input {
    width: 310px;
    height: 35px;
    line-height: 35px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #505ba1;
    outline: none;
    color: #fff;
    text-indent: 10px;
    margin-bottom: 30px;
}

#main .shujuji-main .shujuji-table .icon-xiugai {
    background: none!important;
}

#alert-box-sjjName .text {
    color: #b1c8fe;
    font-size: 16px;
    margin-bottom: 16px;
}

#alert-box-sjjName .content {
    width: 310px;
    padding: 20px 0;
    margin: 0 auto;
}

#alert-box-sjjName .btn-wrap .btn {
    font-size: 16px;
    padding: 12px 40px;
    color: #fff;
    background-color: #369bf0;
    float: right;
    /* margin: 20px 0; */
}

#alert-box-tezhenggongcheng .content .item-list .input {
    width: 280px;
}

#alert-box-xunliangmoxing .content .item-list .form-wrap,
#alert-box-tezhenggongcheng .content .item-list .form-wrap {
    position: relative;
}

#alert-box-xunliangmoxing .content .item-list .select,
#alert-box-tezhenggongcheng .content .item-list .select {
    width: 244px;
    height: 30px;
    line-height: 30px;
    -webkit-appearance: none;
    background-color: #243376;
    border: 1px solid #505ba1;
    border-radius: 4px;
    outline: none;
    position: relative;
    background-image: url(../images/dark/dark-icon-other.png);
    background-repeat: no-repeat;
    background-position: 220px -218px;
    color: #fff;
    text-indent: 10px;
}

#alert-box-tezhenggongcheng .content .item-list .select {
    width: 280px;
    background-position: 250px -218px;
}

#alert-box-xunliangmoxing .content .item-lists .t,
#alert-box-tezhenggongcheng .content .item-lists .t {
    color: #9db2e7;
    font-size: 12px;
    margin: 15px 0;
}

#alert-box-tezhenggongcheng .content .item-lists .t {
    margin: 7px 0;
}

#alert-box-xunliangmoxing .content .item-lists .t span,
#alert-box-tezhenggongcheng .content .item-lists .t span {
    color: #fff;
    font-size: 16px;
}

#alert-box-tezhenggongcheng1 .content .item-lists .t span {
    text-indent: -25px;
    display: block;
}


/* #alert-box-tezhenggongcheng .content .item-list .icon  */

#alert-box-xunliangmoxing .content .item-list .icon,
#alert-box-tezhenggongcheng .content .item-list .add,
#alert-box-tezhenggongcheng .content .item-list .minus {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 20px;
    color: #239bce;
    text-align: center;
    line-height: 20px;
    background-color: #224783;
    cursor: pointer;
}

#alert-box-tezhenggongcheng .content .item-list .minus {
    right: -50px;
}

#alert-box-xunliangmoxing .content .item-list span.minus,
#alert-box-tezhenggongcheng .content .item-list span.minus {
    line-height: 15px;
    font-size: 28px;
}

#alert-box-xunliangmoxing .btn-wrap button,
#alert-box-tezhenggongcheng .btn-wrap button {
    outline: none;
    padding: 8px 10px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}

#alert-box-xunliangmoxing .btn-wrap button.esc,
#alert-box-tezhenggongcheng .btn-wrap button.esc {
    color: #a9b2dd;
    background-color: #3e498b;
    margin-right: 14px;
}

#alert-box-xunliangmoxing .btn-wrap button.begin,
#alert-box-tezhenggongcheng .btn-wrap button.begin {
    color: #fff;
    background-color: #4975e8;
    margin-left: 14px;
}

#alert-box-tezhenggongcheng b.sm {
    color: #505ba1;
    font-size: 12px;
}

#alert-box-tezhenggongcheng .arrow {
    position: absolute;
    width: 20px;
    height: 45px;
    cursor: pointer;
    top: 250px;
    z-index: 99;
}

#alert-box-tezhenggongcheng .arrow-left {
    left: 10px;
    background-repeat: no-repeat;
    background-image: url(../images/public/arrow-left-on.png);
}

#alert-box-tezhenggongcheng .arrow-right {
    right: 10px;
    background-repeat: no-repeat;
    background-image: url(../images/public/arrow-right-on.png);
}

#alert-box-tezhenggongcheng .arrow-right.on {
    background-image: url(../images/public/arrow-right-on.png);
}

#alert-box-tezhenggongcheng .arrow-left.on {
    background-image: url(../images/public/arrow-left-on.png);
}

#alert-box-tezhenggongcheng .arrow-right.off {
    background-image: url(../images/public/arrow-right-off.png);
}

#alert-box-tezhenggongcheng .arrow-left.off {
    background-image: url(../images/public/arrow-left-off.png);
}

#alert-box-tezhenggongcheng2 .content .item-list .pop {
    position: relative;
}

#alert-box-tezhenggongcheng2 .content .item-list .wenhao {
    color: #2a326c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #505ba1;
    margin-top: 7px;
    margin-left: 7px;
    text-align: center;
    cursor: pointer;
}

#alert-box-tezhenggongcheng2 .content .item-list .wenhao i {
    font-weight: bold;
}

#alert-box-tezhenggongcheng2 .content .item-list .help {
    line-height: 35px;
    color: #505ba1;
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
}

#alert-box-tezhenggongcheng2 .content .item-list .pop .txt {
    position: absolute;
    z-index: 99;
    right: 10px;
    bottom: 30px;
    width: 150px;
    border: 1px solid #4b6bb6;
    background-color: #232b5e;
    color: #b1c8fe;
    font-size: 12px;
    padding: 12px;
    display: none;
    line-height: 18px;
    text-align: justify;
    border-radius: 4px;
}

#alert-box-tezhenggongcheng2 .content .item-list .pop:hover .border-right {
    display: block;
}

#alert-box-tezhenggongcheng2 .content .item-list .pop:hover .txt {
    display: block;
}

#alert-box-tezhenggongcheng2 .content .item-list .pop:hover .wenhao {
    background-color: #00ffff;
}

#alert-box-tezhenggongcheng2 .content .item-list .pop:hover .help {
    color: #fff;
}

.alert-box .more-pf {
    font-size: 14px;
    color: #00E2FA;
    line-height: 36px;
    opacity: 0.8;
}